* {
    box-sizing: border-box;
}

.LaboratoriesLabAdd {
    display: flex;
    height: 100vh; 
}

.principalLabAdd {
    display: flex;
    width: 100%;
    height: 100%;
}

.mainContentLabAdd {
    flex-grow: 1;
    overflow-y: auto;
}

.headerLabAdd {
    height: 80px;
    padding-top: 40px;
    padding-left: 80px;
    background-color: #fff;
}

.headerTitleLabAdd {
    color: #4F4F4F;
    font-size: clamp(20px, 2vw, 26px);
    font-weight: 450;
    margin-bottom: 19px;
    
}

.addDiv {
    padding-left: 80px;
    padding-right: 120px;

}

.tipoContainerObs{
    display: flex;
    flex-direction: column;
    height: 79px;
    width: 300px;
}

.radioContainerObs{
    display: flex;
    gap: 20px;
    align-items: center;
    gap: 10px;
    width: 300px;
}

.tipop{
    font-size: clamp(10px, 2vw, 14px);
    color: #4F4F4F;
    font-weight: bold;
    margin-bottom: 22px;
}

.ant-select-selector {
    border: 1px solid #BDBDBD !important; 
    border-radius: 4px !important;         
    box-shadow: none !important;          
  }

.ant-select {
    border: none !important;
  }
  
.select-label{
    font-size: clamp(10px, 2vw, 14px);
    color: #4F4F4F;
    margin-bottom: 12px;
    font-weight: bold;
}

.select-container {
    display: flex;
    flex-direction: column;
  }

.ant-select-selection-placeholder {
    color: #4F4F4F !important;
    font-size: clamp(10px, 2vw, 14px);
}

.ant-select-item-option-selected{
    background-color: #0095DA!important;
    color: #FFFFFF !important;

  }

.ant-input {

    border: 1px solid #BDBDBD;
    border-radius: 4px;
    
  }
  

  .ant-input-textarea {
    border: 1px solid #BDBDBD;
    border-radius: 4px;
  }
  

  .select-label, .radioContainer .MuiFormLabel-root {
    font-size: clamp(10px, 2vw, 14px);
    color: #4F4F4F;
    font-weight: bold;
  }

  
  .ant-form-item .ant-form-item-label > label {
    font-size: clamp(10px, 2vw, 14px)!important;
    color: #4F4F4F!important;
    font-weight: bold!important;
  }

  .input-field27050{
    color: #4F4F4F;
    height: 50px;
    width: 270px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px #BDBDBD solid;

}

.input-filed27050::placeholder{
    color: #939393;
    font-size: clamp(14px, 2vw, 18px);
}

.input-field27050:hover {
  border-color: inherit !important; 
  box-shadow: none !important;       
}

.input-field27050:focus {
  border: 2px solid #333333; 
  color: #000000;    
}

.input-field27050::selection {
  border: 2px solid #333333; 
  color: #000000;    
}

:where(.css-1htoz2s).ant-col {
  position: relative;
  max-width: none !important;
  min-height: 1px;
}

:where(.css-1htoz2s).ant-form-item {
  margin-bottom: 0px !important;
}



.custom-radio .ant-radio-button-wrapper-checked {
  background-color: #007bbd !important;
  color: white !important;
}

.contentAll{
  padding: 24px;
  margin: 0;
  min-height: 280px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: margin-left 0.3s ease;
  margin-left: 200px;
}


@media (max-width: 768px) {
  .contentAll {
    margin-left: 0px;

  }
}
  

