@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.card-dispositivos {
    background-color: white;
    width: 236px;
    height: 224px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: left;
    justify-content: flex-start;

}


.text-disp-tipo{
    font-size: 14px;
    color: #4F4F4F;
    margin-top: 15px;
    margin-left: 16px;
}
.text-disp-patrimonio,
.text-disp-modelo,
.text-disp-status,
.text-disp-data{
    font-size: 14px;
    color: #4F4F4F;
    margin-top: 10px;
    margin-left: 16px;
    white-space: nowrap;    
    overflow: hidden;        
    text-overflow: ellipsis;

}

.tam3424{
    width: 34px;
    height: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;
}

.card-disp-actions-buttons{

    margin-top: 25px;
    margin-left: 130px;
    margin-bottom: 13px;
    margin-right: 13px;

}
.blue{
    background-color: #0095DA;
    border: none;
    color: #FFFFFF;
}

.blue:not([disabled]):hover{
    background-color: #092C4C;
}
.blue:not([disabled]):active{
    background-color: #526b81;
}

.green{
    background-color: #2ECC40;
    border: none;
    color: #FFFFFF;
}

.green:not([disabled]):hover{
    background-color: #176220;
}
.green:not([disabled]):active{
    background-color: #4b8a4f;
}

.red{
    background-color: #ED1C24;
    border: none;
    color: #FFFFFF;
}

.red:hover{
    background-color: #532321;
}
.red:active{
    background-color: #904343;
}
