

.popup-container {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 512px;
    height: 352px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
}

.popup-icon {
    text-align: center;
    margin-top: 49px;
    font-size: 24px;
    color: #ED1C24;
}

.close-btn {
    position: absolute;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    top: 25px;
    right: 18px;
}

.popup-actions-confirm {
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
}

.popup-title-lab {
    color: #0095DA;
    margin-top: 6px;
    font-size: 22px;
    font-weight: bold;
}

.close-btn {
    position: absolute;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    top: 26px;
    right: 26px;
}

.popup-lab-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 86px; 
    margin-bottom: 16px; 
    margin-top: 20px;
}

.input-sala{
    margin-top:16px;
}

.loading-spinner {
    font-size: 16px;
    color: #0095DA;
}

.success-message {
    font-size: 10px;
    color: #fff;
    width: 200px;
    height: 32px;
    background-color: #27AE60;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    animation: fadeInOut 3s forwards;
}

.spinner {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {
    0%, 90% { opacity: 1; }
    100% { opacity: 0; }
}