/* PopUpContainer.css */

.title-table{
    font-size: 22px;
    color: #0095DA;
    margin-top: 20px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    position: relative;
    border-radius: 8px;
    background-color: white;
    width: 950px; /* Largura suficiente para a tabela completa */
    height: 550px; /* Altura ajustada para caber toda a tabela */
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;

}

.container-table{
    margin-top: 20px;
    margin-right: 50px;
}