@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 363px;
    height: 386px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
}


.popup-header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.popup-icon {
    text-align: center;
    margin-top: 49px;
    font-size: 24px;
    color: #ED1C24;
}

.close-btn {
    position: absolute;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    top: 25px;
    right: 18px;
}

.popup-title-confirm {
    color: #0095DA;
    margin-top: 34px;
    font-size: 24px;
    font-weight: bold;
}

.popup-message {
    margin-top: 24px;
    color: #6c757d;
    font-size: 16px;
    margin-bottom: 20px;
}

.popup-actions-confirm {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
