.popup-userview-container {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 420px;
    height: 580px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.usuario-input{
    margin-bottom: 15px;
}

.popup-icon {
    text-align: center;
    margin-top: 49px;
    font-size: 24px;
    color: #ED1C24;
}

.close-btn {
    position: absolute;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    top: 25px;
    right: 18px;
}

.popup-actions-confirm {
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
}

.popup-title-usuario {
    color: #0095DA;
    margin-top: 12px;
    font-size: 22px;
    font-weight: bold;
}

.select-container-usuario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 79px;
    width: 300px;

}

.customSelect .ant-select-selection-placeholder {
    margin-left: 4px;
    font-size: 13.5px;
    font-style: normal;
    color: #939393!important; 
}

.close-btn {
    position: absolute;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    top: 26px;
    right: 26px;
}

.loading-spinner {
    font-size: 16px;
    color: #0095DA;
}

.success-message {
    font-size: 10px;
    color: #fff;
    width: 200px;
    height: 32px;
    background-color: #27AE60;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    animation: fadeInOut 3s forwards;
}

.spinner {
    animation: rotate 1s linear infinite;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {
    0%, 90% { opacity: 1; }
    100% { opacity: 0; }
}

@media (max-width: 768px) {
    .popup-container{
        left: 50%;
        width: 350px;
    }
    .popup-title-lab{
        font-size: 18px;
    }
    .close-btn{
        right: 23px;
        top: 23px;
    }

}