* {
    box-sizing: border-box;
}

.Laboratories {
    display: flex;
    height: 100vh; 
}

.principal {
    display: flex;
    width: 100%;
    height: 100%;
}

.mainContent {
    flex-grow: 1;

    overflow-y: auto;
}

.header {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 67px;
    background-color: #fff;
}

.headerTitle {
    color: #4F4F4F;
    font-size: 32px;
    font-weight: bold;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 19px;
}

.controlsContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.deviceInputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.deviceInfo {
    font-size: 1rem;
    color: #666;
    margin-right: 38px;
}

.addButton {

    margin-right: 60px;
    display: flex;
    gap: 10px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 67px;
    min-height: 70vh;
}

.containerCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px 10px;
    min-height: 70vh;
    transition: opacity 0.5s ease-in-out; 

}
.containerInput{
    flex: 1;
}

.card {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
}

.paginationContainer {
    background-color: white; 
    z-index: 1;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0);

}

.pagination {
    display: flex;
    align-items: center;
    
}

.paginationButton {
    border: 1px solid #282828;
    background-color: rgba(255, 255, 255, 0.5);
    color: #282828;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s, border-color 0.3s;

}

.paginationButton:hover {
    background-color: #282828;
    color: #FFFFFF;
    border: 1px solid #282828;
}

.pagination-button.active {
    background-color: #282828;
    color: #FFFFFF;
    border: 1px solid #282828;
}

.ellipsis-pagination {
    display: flex; 
    align-items: center;
    justify-content: center; 
    font-size: 16px; 
    color: #666; 
    width: 20px; 
    height: 20px; 
    padding-top: 5px;
    cursor: default; 
    line-height: normal; 
}

.contentAll{
    padding: 24px;
    margin: 0;
    min-height: 280px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: margin-left 0.3s ease;
    margin-left: 200px;
  }

  @media (max-width: 768px) {

    .containerCard {
        grid-template-columns: repeat(2, 1fr);
    }
    .formContainer{
        margin-left: 45px;
    }
    .paginationContainer{
        margin-top: 20px;
}
    .containerInput{
        order: 2;
    }
    .controlsContainer{
        width: 250px;
    }
    .deviceInputContainer{
        flex-direction: row;
        align-items: flex-start;
        margin-right: 0px;
        flex-wrap: wrap;
    }
    .deviceInfo{
        width: 160px;
        order: 0;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .header{
        margin-left: 37px;
        height: 220px;
        width: 250px;
    }
    .input-field320{
        width: 200px;
    }
    .contentAll {
      margin-left: 0px;

    }
    .addButton{
        justify-content: space-between;
        order: 1;
        margin-right: 0px;
        margin-left: 0px;
    }
    .paginationContainer{
        width:250px;
    }
}

@media (max-width: 480px) {

    .containerCard {
        grid-template-columns: 1fr; 
    }
}