* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.principal {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.form-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    overflow-y: auto;
}

