* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.principal {
    display: inline-flex;
    gap: 0;
    
}

.form-conteiner {
    flex-grow: 2;
    overflow-y: auto;
}

