

.circle {
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background 0.2s ease, color 0.2s ease;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.blue{
    background-color: #0095DA;
    border: none;
    color: #FFFFFF;
}

.blue:hover{
    background-color: #092C4C;
}
.blue:active{
    background-color: #526b81;
}

.orange{
    background-color: #E2B93B;
    border: none;
    color: #FFFFFF;
}
.orange:hover{
    background-color: #A47F2A;
}
.orange:active{
    background-color: #70581D;
}

.button-icon {
    width: 20px; 
    height: 20px;
}